<div class="page-header">
  <div class="page-title">
  <h1>Gestió de projectes disponibles al centre</h1>
    <back-button></back-button>
  </div>
</div>
<div class="page-subheader">
  <shared-search-bar placeholder="Cercar projectes..." (search)="search=$event"></shared-search-bar>

  <div class="extra-actions">
    <shared-course-filter (courseSelected)="onFilterSelected($event)"></shared-course-filter>
    <shared-button text="Afegir projecte" icon="library_add" type="success"></shared-button>
  </div>
</div>

<app-project-list [search]="search" [selectedCourse]="selectedCourse"></app-project-list>
