<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <ng-container *ngIf="type === 'admin'; else attendanceHeader">
          <th><input type="checkbox" /></th>
          <th>Nom complet</th>
          <th>Curs</th>
          <th>Email</th>
          <th>Editar</th>
        </ng-container>
        <ng-template #attendanceHeader>
          <th>Assistència</th>
          <th>Falta</th>
          <th>Retard</th>
          <th>Foto</th>
          <th>Nom de l'alumne</th>
          <th>% Faltes</th>
          <th>Enllaç a informe</th>
        </ng-template>
      </tr>
    </thead>
  </table>

  <div class="table-body-container">
    <table class="custom-table">
      <tbody>
        <ng-container *ngIf="type === 'admin'; else attendanceRow">
          <ng-container *ngFor="let row of data">
            <tr>
              <td><input type="checkbox" /></td>
              <td>{{ row.name }}</td>
              <td>{{ row.course }}</td>
              <td>{{ row.email }}</td>
              <td>
                <button mat-icon-button aria-label="Editar alumne" >
                  <mat-icon class="edit-btn">edit_square</mat-icon>
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>

        <ng-template #attendanceRow>
          <tr *ngFor="let row of data">
            <td><input type="radio" /></td>
            <td><input type="radio" /></td>
            <td><input type="radio" /></td>
            <td><img [src]="row.photo" alt="Foto Alumne" class="student-photo" /></td>
            <td>{{ row.student }}</td>
            <td><span class="percent-absences">{{ row.percentAbsences }}</span></td>
            <td>
              <button class="edit-btn">🔗</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
