.page-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  shared-search-bar {
    width: 50%;
  }

  .extra-actions {
    display: flex;
    gap: 20px;
  }
}

::ng-deep {
  .p-button:disabled {
    --p-button-danger-color: #615050;
    --p-button-danger-background: #f0f0f0;
    --p-button-danger-background: #f0f0f0;
    --p-button-danger-border-color: #f0f0f0;
  }
}