<div class="page-header">
  <div class="page-title">
    <h1>Portal de l'administrador</h1>
    <back-button></back-button>
  </div>

  <app-module-selector (onConfirm)="findStudents()"></app-module-selector>
</div>

<div class="page-subheader">
  <shared-search-bar placeholder="Cercar estudiants..." (search)="onSearch($event)"></shared-search-bar>

  <div class="extra-actions">
    <shared-course-filter (courseSelected)="onFilter($event)" [studies]="studentsStudies"></shared-course-filter>
    <p-button label="Donar de baixa" icon="pi pi-user-minus" (click)="unenrollStudents()" severity="danger" [disabled]="selectedStudents.length === 0" class="button"></p-button>
  </div>
</div>

<div class="page-content">
  <shared-table
    [loading]="loading" 
    [students]="filteredStudents" 
    scrollHeight="65vh"
    (changeStudentsSelected)="selectedStudents = $event" 
    type="admin"
    >
  </shared-table>
</div>
