<div class="page-header">
  <div class="page-title">
  <h1>Gestió de projectes disponibles al centre</h1>
    <back-button></back-button>
  </div>
</div>
<div class="page-subheader">
  <shared-search-bar placeholder="Cercar projectes..." (search)="search=$event"></shared-search-bar>

  <div class="extra-actions">
    <shared-course-filter (courseSelected)="this.selectedStudy = $event"></shared-course-filter>
    <shared-button text="Afegir projecte" icon="plus" type="success" (click)="openProjectFormDialog()"></shared-button>
  </div>
</div>

<project-list [search]="search" [selectedCourse]="selectedStudy" [tab]="tab" [projects]="tab === 'school' ? schoolProjects : studentProjects" [isLoading]="isLoading"></project-list>
