<div *ngIf="!isLoading; else loading" class="project-list">
  <div class="grid">
    <p-card *ngFor="let project of filteredProjects" (click)="navigateToProject(project.id!)" tabindex="0">
        <div class="card-header">
          <span class="category">{{ project.estudi }}</span>
        </div>
      <div class="card-body">
        <h2>{{ project.titol }}</h2>
        <p class="creator">Creat per: <strong>{{ project.creatPer }}</strong></p>
      </div>
      <div class="card-footer">
        <i class="pi pi-arrow-right"></i>
      </div>
    </p-card>
  </div>

  <div class="no-results" *ngIf="filteredProjects.length === 0">
    No s'han trobat projectes
  </div>
</div>

<ng-template #loading>
  <div class="loading-overlay">
    <p-progress-spinner ariaLabel="loading" />
  </div>
</ng-template>
