/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif; 
    h1 {
        text-align: left;
        font-size: 32px;
        font-weight: normal;
        color: #444466;
    }
    h2 {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        color: #444466;
    }
}
