.search-container {
  display: flex;
  align-items: center;
  background: #ddd;
  border-radius: 15px;
  padding: 8px 12px;
  width: 100%;
}

mat-icon {
  margin-right: 8px;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  width: 100%;
  color: #333;
}

.search-input::placeholder {
  color: #555;
  opacity: 0.8;
}
