@import "primeicons/primeicons.css";

:root {
  --p-button-primary-background: #6c6c99 !important;
  --p-button-primary-border-color: #6c6c99 !important;
  --p-button-primary-hover-background: #5c5c85 !important;
  --p-button-primary-hover-border-color: #5c5c85 !important;
  --p-button-primary-active-background: #52527a !important;
  --p-button-primary-active-border-color: #52527a !important;
  --p-button-primary-focus-ring-color: #6c6c99 !important;
  --p-button-secondary-background: #DCDCDC !important;
  --p-button-secondary-border-color: #DCDCDC !important;
  --p-button-secondary-hover-background: #e6e6e6 !important;
  --p-button-secondary-hover-border-color: #e6e6e6 !important;
  --p-button-secondary-active-background: #d9d9d9 !important;
  --p-button-secondary-active-border-color:  #d9d9d9 !important;
  --p-button-secondary-focus-ring-color: #DCDCDC !important;
  --p-inputtext-focus-border-color: #6c6c99 !important;
  --p-select-focus-border-color: #6c6c99 !important;
  --p-card-background: #DCDCDC !important;
  --p-floatlabel-focus-color: #6c6c99 !important;
  --p-dialog-content-padding: 15px !important;
}

.dark-mode {
  --p-button-primary-color: #fff !important;
  --p-button-primary-hover-color: #fff !important;
  --p-button-primary-background: #444466 !important;
  --p-button-primary-border-color: #444466 !important;
  --p-button-primary-hover-background: #34344f !important;
  --p-button-primary-hover-border-color: #34344f !important;
  --p-button-primary-active-background: #2d2d42 !important;
  --p-button-primary-active-border-color: #2d2d42 !important;
  --p-button-primary-active-color: #fff !important;
  --p-button-primary-focus-ring-color: #444466 !important;
  --p-button-secondary-color: #464646 !important;
  --p-button-secondary-active-color: #464646 !important;
  --p-button-secondary-background: #DCDCDC !important;
  --p-button-secondary-border-color: #DCDCDC !important;
  --p-button-secondary-hover-color: #464646 !important;
  --p-card-background: #242429 !important;
  --p-dialog-content-padding: 15px !important;
  --p-floatlabel-focus-color: #6c6c99 !important;
}

html, body { height: 100%; }
body {
  background-color: var(--background-color);
  margin: 0;
  font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
  h1 {
    text-align: left;
    font-size: 32px;
    font-weight: normal;
    color: #444466;
  }
  h2 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #444466;
  }
}

main {
  padding: 3% 5%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .page-title {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.page-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  shared-search-bar {
    width: 50%;
  }

  .extra-actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

footer {
  background: #1a1a1a;
  color: #fff;
  text-align: center;
  font-size: 16px;
  width: 100%;
  position: fixed;
  bottom: 0;

  .footer-container {
    font-family: 'Poppins', sans-serif;
    
    p {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      
      .names {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}



