form {
   width: 100%;

   .form-row {
      display: flex;
      gap: 1rem;

      .input {
         display: flex;
         flex-direction: column;
         gap: 0.2rem;
         margin-bottom: 1rem;
         width: 100%;
         
         &.field-30 {
            flex: 0 0 30%;
         }

         p-floatlabel * {
            width: 100%;
         }

         p-message {
            margin-left: 0.3rem;
         }
      }
   }
}

.dialog-footer {
   position: absolute;
   bottom: 15px;
   right: 15px;
   display: flex;
   justify-content: flex-end;
   gap: 1rem;
}