<form [formGroup]="formGroup">
   <div class="form-row">
      <p-floatlabel variant="in">
         <input type="text" pInputText formControlName="title" id="title"/>
         <label for="title">Títol*</label>
      </p-floatlabel>
   </div>
   <div class="form-row">
      <p-floatlabel variant="in" class="field-30">
         <p-select inputId="study" formControlName="study" [options]="validStudies" appendTo="body" scrollHeight="auto" showClear></p-select>
         <label for="study">Estudi*</label>
      </p-floatlabel>
   </div>

   <div class="form-footer">
      <shared-button icon="save" text="Guardar" type="success" (click)="saveProject()"></shared-button>
   </div>
</form>