<div class="dashboard">
  <div class="grid">
    <p-card *ngFor="let item of dashboardItems">
      <ng-template #header>
        <div class="card-header">
          <img [src]="item.image" alt="{{ item.title }}"> 
        </div>
      </ng-template>
      <ng-template #title>{{ item.title }}</ng-template> 
      <p>{{ item.description }}</p>
      <ng-template #footer>
        <p-button [routerLink]="item.link">{{ item.buttonText }}</p-button>
      </ng-template>
    </p-card>
  </div>
</div>
